<table class="striped bordered table">
  <tr>
    <th scope="col">Meeting</th>
    <th scope="col">Place Type</th>
    <th scope="col">Transport Type</th>
    <th scope="col">Total Distance</th>
    <th scope="col">Total Time</th>
  </tr>

  <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.name, results_path(current_user, meeting) %></td>
        <td><%= meeting.place_type %></td>
        <td><%= meeting.transport_type %></td>
        <td><%= metres_to_miles(meeting.total_distance) %></td>
        <td><%= seconds_to_time(meeting.total_time) %></td>
      </tr>
  <% end %>
</table>

<%= link_to "New Meeting", new_user_meeting_path(:user_id => current_user.id) %>
