<%= form_with(model: [@user, @meeting]) do |f| %>

  <div id="address-container">
    <%# Iterate over each location for the meeting %>
    <%= f.fields_for :locations do |location_fields| %>
      <%# Create an input field for the address %>
      <div class="field">
        <%= location_fields.label :address, "Location" %>
        <%= location_fields.text_field :address %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name, "Name this meeting?" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :place_type, "Place Type" %>
    <%= f.select :place_type, ['all'] %>
  </div>

  <div class="field">
    <%= f.label :transport_type, "Transport Type" %>
    <%= f.select :transport_type, ['driving'] %>
  </div>

  <%= f.submit "Submit", :class => "button" %>
<% end %>
