<%= form_with(model: [@user, @meeting], class: "my-4") do |f| %>

  <div id="address-container">
    <%# Iterate over each location for the meeting %>
    <%= f.fields_for :locations do |location_fields| %>
      <%# Create an input field for the address %>
      <div class="field form-group row mb-3">
        <%= location_fields.label :address, "Location", class: "col-sm-3 col-lg-3 col-form-label" %>
        <div class="col-sm-9 col-lg-9">
          <%= location_fields.text_field :address, class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>


  <%# Button to add another location TODO %>

  <% if user_signed_in? %>
    <div class="field form-group row mb-3">
      <%= f.label :name, "Meeting Nickname", class: "col-sm-3 col-lg-3 col-form-label" %>
      <div class="col-sm-9 col-lg-9">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="field form-group row mb-3">
    <%= f.label :place_type, "Place Type", class: "col-sm-3 col-lg-3 col-form-label" %>
    <div class="col-sm-9 col-lg-9">
      <%= f.select :place_type, ['all'], {}, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row mb-3">
    <%= f.label :transport_type, "Transport Type", class: "col-sm-3 col-lg-3 col-form-label" %>
    <div class="col-sm-9 col-lg-9">
      <%= f.select :transport_type, ['driving'], {}, class: "form-control" %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary col-12" %>
<% end %>
