<p><%= @user.name %>
<%= @meeting.name %></p>

<ul>
    <li>Place type: <%= @meeting.place_type %></li>
    <li>Transport type: <%= @meeting.transport_type %></li>
    <li>Total distance: <%= @meeting.total_distance %></li>
    <li>Total time: <%= @meeting.total_time %>
</ul>