<h1><%= @meeting.name %> Locations</h1>
  <%= link_to "New Location", new_location_path(:meeting_id => @meeting.id) %>
  
  <br><br>

  <%= @meeting.place_type %><br>
  <%= @meeting.transport_type %><br>
  <%= @meeting.total_distance %><br>
  <%= @meeting.total_time %>

  <br><br>

  <div class="row">
    <% @locations.each do |location| %>
        <div>
          <strong><%= link_to location.name %></strong>
          <br><em><%= location.type %></em>
          <%= location.address %>
          <br>
          <%= location.distance_from_halfway %>
          <br>
          <%= location.time_from_halfway %>
          <br>
        </div>
    <% end %>
</div>