<div class="footer">
    <ul>
        <li>Made with ❤️ by Louise Jones, 2023</li>
        <li>
            <%= link_to "https://linkedin.com/in/louisejones94" do %>
                <%= embedded_svg('linkedin', class: "social-img") %>
                <%= "LinkedIn" %>
            <% end %>
        </li>
        <li>
            <%= link_to "https://github.com/louisejones94/MeetMeHalfway" do %>
                <%= embedded_svg('github', class: "social-img") %>
                <%= "Repo" %>
            <% end %>
        </li>
    </ul>
</div>