<h1>Your Space</h1>

<div class="row align-items-start my-5">

    <div class="col-sm-4">

        <h2>Your information</h2>

        <ul>
            <li>Name: <%= current_user.name %>
            <li>Email: <%= current_user.email %>
            <li>Number of meetings: <%= current_user.meetings.count %>
        </ul>

        <%= link_to 'Edit Profile', edit_user_registration_path %>

    </div>

    <div class="col-sm-8">

        <h2>Your meetings</h2>

        <%= render partial: "meetings/all" %>

    </div>

</div>