<h1>Your Space</h1>

<div class="row align-items-start my-5">

    <div class="col-sm-4">

        <h2>Your information</h2>

        <p>
            <br>Hi, <%= current_user.name %>!
            <br>Your email: <%= current_user.email %>
            <br>You've been meeting halfway for <%= member_time %>
            <br>
            <br>You've arranged <%= current_user.meetings.count %> meetings with:
                <ul>
                    <li><%= current_user.meetings.joins(:locations).where.not(locations: { type: "halfway" }).count %> locations</li>
                    <li><%= metres_to_miles(current_user.meetings.sum(:total_distance) )%> of driving</li>
                    <li><%= seconds_to_time(current_user.meetings.sum(:total_time)) %> of driving</li>
                </ul>
        </p>

        <%= link_to 'Edit Profile', edit_user_registration_path %>

    </div>

    <div class="col-sm-8">

        <h2>Your meetings</h2>

        <%= render partial: "meetings/all" %>

    </div>

</div>