<h1>All the Locations for <%= @meeting.name %></h1>

<table class="striped bordered">
  <tr>
    <th>Location</th>
    <th>Type</th>
    <th>Address</th>
    <th>Distance from Halfway</th>
    <th>Time from Halfway</th>
  </tr>

  <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, user_meeting_location_path(current_user, @meeting, location) %></td>
        <td><%= location.type %></td>
        <td><%= location.address %></td>
        <td><%= location.distance_from_halfway %></td>
        <td><%= location.time_from_halfway %></td>
      </tr>
  <% end %>
</table>

<%= link_to "New Location", new_user_meeting_location_path(:meeting_id => @meeting.id) %>
